* {
    box-sizing: border-box;
  }
  
  html,
  
  body {
    font-family: 'Poppins ExtraLight', sans-serif;
    min-height: 1280px;
    background-color: #1A1A1A;
    font-size: 18px;
    color: white;
    margin: 0;
    padding: 0;
  }


  
  
  p {
    color: white;
    font-size: 95%;
    text-decoration: none;
    font-weight: 400;
    font-family: 'Poppins ExtraLight', sans-serif;
    line-height: 28px;
  }

  h1 {
    color: white;
    font-size: 88px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Alegreya';
    margin-bottom: 20px;
    margin-top: 20px;
  }
  h2 {
    color: white;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 300;
    font-family: 'Poppins ExtraLight', sans-serif;
  }
  h3,
  h4,
  a {
    margin: 0;
    font-weight: 400;
  }
  
  a,
  a:visited,
  a:hover {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 95%;
    padding: 10px 30px;
    margin: 0 20px;
    line-height: 80px;
    transition: .5s;
  }
 
  nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    background: #1a1a1a;
    padding: 1rem;
    padding-right: 5rem;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  
  .nav__examples {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: baseline;
    -ms-flex-align: baseline;
    align-items: baseline;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  
  .nav__examples > * {
    margin-right: 0.5rem;
  }
  
  #intro {
    max-width: 40rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 18px;
  }
  
  .intro__hed {
    font-size: 2em;
    margin: 2rem auto 0.5rem auto;
  }
  
  .intro__dek {
    color: #d0cccc;
  }
  
  
  #outro {
    height: 640px;
  }

  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  
  @media (min-width: 840px) {
    .nav__examples {
      margin-top: 0;
      margin-left: 2rem;
    }
  }
  