* {
  box-sizing: border-box;
}

html,
body {
  font-family: 'Poppins ExtraLight', sans-serif;
  min-height: 1280px;
  background-color: #1A1A1A;
  font-size: 18px;
  color: white;
  margin: 0;
  padding: 0;
}

p {
  color: white;
  font-size: 95%;
  text-decoration: none;
  font-weight: 400;
  font-family: 'Poppins ExtraLight', sans-serif;
  line-height: 28px;
}

h1 {
  color: white;
  font-size: 88px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Alegreya';
  margin-bottom: 20px;
  margin-top: 20px;
}

h2 {
  color: white;
  font-size: 35px;
  text-transform: uppercase;
  font-weight: 300;
  font-family: 'Poppins ExtraLight', sans-serif;
}

.zurautorin {
  font-size: 30px;
}

a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 95%;
  padding: 10px 30px;
  margin: 0 20px;
  line-height: 80px;
  transition: .5s;
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background: #1a1a1a;
  padding: 1rem;
  padding-right: 5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.nav__examples {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-top: 1rem;
}

.nav__examples > * {
  margin-right: 0.5rem;
}

#intro {
  max-width: 40rem;
  margin: 1rem auto;
  text-align: center;
  margin-bottom: 18px;
}

.intro__hed {
  font-size: 2em;
  margin: 2rem auto 0.5rem auto;
}

.intro__dek {
  color: #d0cccc;
}

#outro {
  height: 640px;
}

.tracking-in-expand {
  -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.credit {
  color: white;
  font-size: 12px;
  margin-bottom: 10px;
  text-align: center;
  opacity: 80%;
}

footer {
  display: grid;
  padding-top: 35px;
  padding-bottom: 35px;
}

/* Styling Sticky Side left */
#scrolly {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1a1a1a;
  padding: 1rem;
}

#scrolly > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.article1 {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
}

.sticky-thing {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  background-color: #454444;
  z-index: 0;
  top: 12.5vh;
  height: 75vh;
  /* Center everything inside */
  display: flex;
  align-items: center;
  justify-content: center;
}

.Einleitung {
  color: white;
  font-family: 'Alegreya';
  font-size: 40px;
}

.sticky-thing p {
  text-align: left;
  padding: 2%;
  font-size: 24px;
}

.step {
  margin: 0 auto 2rem auto;
  background-color: #3b3b3b;
  color: #fff;
}

.step:last-child {
  margin-bottom: 0;
}

.step.is-active {
  background-color: #576739;
  color: white;
}

.step p {
  text-align: left;
  padding: 2%;
  font-size: 16px;
}

/* Styling Video */
#video-container,
#video-container-2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Styling Sticky Overlay */
#scrolly-2 {
  position: relative;
  background-color: #1a1a1a;
  padding: 1rem;
}

.article2 {
  position: relative;
  padding: 0;
  max-width: 30rem;
  margin: 0 auto;
}

.sticky-thing-2 {
  position: -webkit-sticky;
  position: sticky;
  left: 0;
  width: 100%;
  margin: 0;
  background-color: #8a8a8a;
  z-index: 0;
  top: 12.5vh;
  height: 75vh;
  /* Center everything inside */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Hintergrund */
  background-image: url("images/AdobeStock_119580469.jpeg");
  background-size: cover;
  background-position: center center;
}

.sticky-thing-2 p {
  font-size: 8rem;
  font-weight: 900;
  color: #fff;
}

.step2 {
  margin: 0 auto 2rem auto;
  background-color: #3b3b3b;
  color: #fff;
}

.step2:last-child {
  margin-bottom: 0;
}

.step2.is-active p {
  background-color: #576739;
  color: white;
}

.step2 p {
  text-align: center;
  padding: 2%;
  font-size: 16px;
}

/* Styling Sticky Side right */
#scrolly-right {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #1a1a1a;
  padding: 1rem;
}

#scrolly3 > * {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.article3 {
  position: relative;
  padding: 0 1rem;
  max-width: 30rem;
}

.sticky-thing-3 {
  position: -webkit-sticky;
  position: sticky;
  width: 100%;
  margin: 0;
  background-color: #454444;
  z-index: 0;
  top: 12.5vh;
  height: 75vh;
  /* Center everything inside */
  display: flex;
  align-items: center;
  justify-content: center;
  /* Bild */
  background-image: url("images/AdobeStock_243486627.jpeg");
  background-size: cover;
  background-position: center center;
}

.sticky-thing-3 p {
  text-align: left;
  padding: 2%;
  font-size: 24px;
}

.step3 {
  margin: 0 auto 2rem auto;
  background-color: #3b3b3b;
  color: #fff;
}

.step3:last-child:last-child {
  margin-bottom: 0;
}

.step3.is-active {
  background-color: #576739;
  color: white;
}

.step3 p {
  text-align: left;
  padding: 2%;
  font-size: 16px;
}

#author {
  width: 100%;
  display: flex;
  grid-gap: 40px;
}

.author-image {
  position: relative;
  width: 20%;
  margin-left: 30%;
  margin-top: 20px;
}

.author-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.author-text {
  flex: 1;
  padding: 0 20px;
  margin-right: 30%;
}
